@{
    ViewData["Title"] = "Home Page";
}
Introduce dos numeros 
<form action= "Resultadosuma">

       <p> numero1:<input type="text" name="numero1"> </p>
       <p> nuemro2:<input type="text" name="numero2"> </p>
       
        <input type="submit" value="sumar"/>
</form>
             
 