@{
    ViewData["Title"] = "Home Page";
}

hola soy maria
<table>
    <tr>
        <th>columna1</th>
        <th>columna2</th>
    </tr>
    
    <tr>
        <td>dato1</td>
        <td>dato2</td>

    </tr>
    <tr>
         <td>dato3</td>
         <td>dato4</td>
    </tr>
</table>